<%- include('Templates/cabecera',{tituloweb:'Page Inicio'}) %> 

    <h1 class="text-primary ">Titulo de mi sitio web index </h1>
    <h2><%=titulo%></h2>






    <%- include('Templates/footer',{footerweb:'Footer inicio'}) %> 
