<%- include('Templates/cabecera',{tituloweb:'Page Inicio'}) %> 
<%- include('Templates/navbar',{Act:'active'}) %> 

    <div class="container section-contenido">

        <h1 class="text-primary ">Titulo de mi sitio web index </h1>
        <h2><%=titulo%></h2>
    </div>






    <%- include('Templates/footer',{footerweb:'Footer inicio'}) %> 
