<%- include('Templates/cabecera',{tituloweb:'Page Services'}) %> 
<%- include('Templates/navbar',{Act:'active'}) %> 

<div class="container section-contenido">

    <h1><%=tituloservices%></h1>
</div>






    <%- include('Templates/footer',{footerweb:'Footer services'}) %> 
